.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
  }
  #menuVar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }
  .navbar-brand {
    color: #fff;
  }
  #menuVar.navbar-nav {
    margin-top: 1rem;
  }
  .nav-link {
    color: #fff;
  }
  a.nav-link:hover {
    color: #1abc9c;
  }
  
  
 

