<!-- <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav" > -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="menuVar" >
    <div class="container"><img src="../assets/img/logo.png" height="80">
        <a class="navbar-brand" href="#page-top"> #YoProgramo</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            MENU
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item mx-0 p-1"><a class="btn btn-outline-light btn-social" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a></li>
                <li class="nav-item mx-0 p-1"><a class="btn btn-outline-light btn-social" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a></li>
                <li class="nav-item mx-0 p-1 "><a class="btn btn-outline-light btn-social" href="#!"><i class="fab fa-fw fa-instagram"></i></a></li>
                <li class="nav-item mx-0 p-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#" routerLink="/logeo">Login</a></li> 
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
                    


                    
                    
                    