<!-- About -->
<section class="page-section mb-0">
    <div class="container d-flex align-items-center flex-column">
        <!-- About Section Heading-->
        <h3 class="align-items-center font-weight-light">Pablo Nicolas Sanchez </h3>
        <h2>Full Stack Developer Jr</h2>
        <!-- About Section Content-->
        <div class="row">
            <div class="d-flex col-lg-4 justify-content-center"><p class="lead"><img src="../assets/img/perfil.png" width="200"></div>
            <div class="d-flex col-lg-6 align-items-center ">
                <p>
                    Analista de sistemas. Programador y diseñador Web, Técnico Informático 
                    Me inicié en la programación WEB allá en el año 1995. Trabajé profesionalmente como diseñador y programador web, 
                    tanto en front-end como back-end, PHP con MySQL, asi tambien con JavaScript y CSS3.<br>
                    Como soporte adquiri conocieminto en comunicaciones gracias a la certificacionde CCNA de CISCO asi como la experiencia adquirida
                    en diversos trabajos realizados tanto fisico como logicos en plataformas cliente/servidor, desde el 2006 formo parte de la Institucion 
                    Direccion Naional de Migraciones como Supervisor Regional de la Region II y XI, no obstante continuo ejerciendo como desarrollaor web 
                    Freelance aprovechando mi conocimiento como Full Stack Developer Jr.
                </p>
            </div>
        </div>
    </div>
</section>
