<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6">
                <h4 class="text-uppercase">Lugar</h4>
                <p class="lead ">
                    Puerto Iguazu - Misiones
                    <br />
                    Argentina
                </p>
            </div>

            <!-- Footer About Text-->
            <div class="col-lg-6">
                <h4 class="text-uppercase">Sobre mi</h4>
                <p class="lead ">
                    Pablo Nicolas  Sanchez
                
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
</div>