.btn-edit {
  background-color: rgb(57, 151, 70);
  border-color: rgb(0, 0, 0);
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  float: right;
}
 .line{
    width: 70%;
    display: flex;
    height: 10px;
    background-image: linear-gradient(to left , rgba(0, 0, 0, 0), rgb(24, 185, 145), rgba(0, 0, 0, 0));
    border-radius: 30;
  }

  .divider-custom .divider-custom-icon {
    color: rgb(26, 188, 156,0.5);
    font-size: 8rem;
  }
  .masthead {
    padding-top: calc(2rem + 74px);
    padding-bottom: 2rem;
    background: url(../../../assets/img/top.jpg) no-repeat center fixed; /* no-repeat fixed center */
    background-size: cover;
  }
  
  .mastheadpre {
    padding-top: calc(0.5rem + 15px);
    padding-bottom: 0.5rem;
    /* background-color: rgb(2, 73, 131); */
    background: url(../../../assets/img/top.jpg) no-repeat center fixed; 
    background-size: contain;
  }

  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .mastheadpre .mastheadpre-heading {
    font-size: 1.75rem;
    line-height: 1.50rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead .masthead-avatar {
    width: 15rem;
  }
  
  @media (min-width: 992px) {
    .masthead {
      padding-top: calc(2rem + 104px);
      padding-bottom: 2rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
  }
