<!-- Masthead-->
<header class="masthead bg-primary text-white text-center" >
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-2" src="../assets/img/avatar.svg" alt="..." /> -->
        <!-- Masthead Heading--><br><br>
        <hr class="line">
        <!-- <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div> -->
        <h1 class="masthead-heading text-uppercase mb-0 ">Pablo Sanchez</h1>
        <hr class="line">
        <!-- Icon Divider-->
        <!-- Masthead Subheading-->
        <p class="font-weight-light mb-0 "> Full Stack Developer Jr. </p>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>
