/* MODAL */
/* .experi-modal .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
  }
  .experi-modal .experi-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 300px) {
    .experi-modal .experi-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  } */