<!-- educa-->
<section class="page-section mb-0">
    <div class="container ">
        <!-- About Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <!-- About Section Heading-->
                <h2>Educacion</h2>
                <div class="list-group justify-content-start">
                    <a href="#" class="list-group-item  active">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Full Stack Developer Jr.</h5>
                        <small>2022</small>
                        </div>
                        <p class="mb-1">Buscando mejorar y actualizar conocimientos gracias al programa Argentina Programa y los modulos #SeProgramar y #YoProgramo,
                            es otro gran broche a una carrera que tanto me apaciona.
                        </p>
                        <small>2021 - 2022</small>
                    </a>
                    <a href="#" class="list-group-item ">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Curso PHP - MySQL</h5>
                        <small class="text-muted">2008</small>
                        </div>
                        <p class="mb-1">Ya con conocimiento en FrontEnd, presto interes sobre BackEnd y recorro cursos de PHP y MySQL hasta el dia de la fecha.</p>
                        <small class="text-muted">2000 - 2004</small>
                    </a>
                    <a href="#" class="list-group-item ">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">HTML - CSS3 </h5>
                        <small class="text-muted">2000</small>
                        </div>
                        <p class="mb-1">Iniciando en el hipertexto comienzo con cursos para el diseño web</p>
                        <small class="text-muted">1998 - 2000</small>
                    </a>
                    <a href="#" class="list-group-item  active">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Analsita de Sistemas</h5>
                        <small>2010</small>
                        </div>
                        <p class="mb-1">Obtener el Titulo de Analista de Sistema le puso un broche a una carrera ya comenzada hacia tiempo.</p>
                        <small>2007 - 2010</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">WS-011T00-A: WINDOWS SERVER 2019 ADMINISTRATION</h5>
                            <small class="text-muted">2022</small>
                        </div>
                        <p class="mb-1">Dentro de nuevos desafios y oportunidades surge la posibilidad de realizar el curso.</p>
                        <small class="text-muted">2021 - 2022</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">CCNA - Cisco Networking Academy</h5>
                        <small class="text-muted">2005</small>
                        </div>
                        <p class="mb-1">Como parte de mi trabajo incremento mi conocimiento en redes</p>
                        <small class="text-muted">2003 - 2005</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
