<!-- Portfolio Modal 1-->
<div class="container ">
    <form [formGroup]="form" class="m-5" (ngSubmit)="logIn($event)" >
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <label  class="form-label">UserName</label>
            <input class="form-control" type="text" formControlName="username" 
                [ngClass]="{'is-invalid':username?.errors && username?.touched,
                'is-valid':!username?.errors && username?.touched}"
            >
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <label for="exampleFormControlTextarea1" class="form-label">Password</label>
            <input class="form-control" type="password" formControlName="password">
        </div>
    <div class="row text-center justify-content-center">
        <div class="col-lg-4 p-3">
            <button class="btn btn-primary"  [disabled]="!form.valid">Login</button> 
            <!-- (click)="logIn()" -->
        </div>
    </div>
    <div class="row text-center justify-content-center" *ngIf="username?.errors && username?.touched">
        <p *ngIf="username?.hasError('required')" class="text-danger"> Informacion Requerida</p>
        <p *ngIf="username?.hasError('minlength')" class="text-danger"> Longitud Requerida</p>
    </div>
</div>
</form>