<!-- experi-->
<section class="page-section mb-0">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-9 ">
                <!-- Boton NUEVO-->
                <div *ngIf="edited" data-bs-toggle="modal" data-bs-target="#nuevoExperi" (click)="blanqueo()">
                    <a class="btn btn-edit btn-outline-light" href="#!" >
                        <i class="fa fa-pen-nib"></i>
                    </a>
                </div>
                
                 <!-- About Section Heading-->
                <h2 class="p-3 bg-secondary text-center text-white">Experiencia</h2>
                
                <ul *ngFor="let data of lista" class="timeline">
                    <li>
                        <!-- Boton ELIMINAR -->
                        <div *ngIf="edited" data-bs-toggle="modal" data-bs-target="#eliminaExperi" data-whatever="{data.id}">
                            <a class="btn btn-trash btn-outline-light" href="#!" (click)="tomaDatos(data.id)" >
                                <i class="fa fa-trash "></i>
                            </a>
                        </div>
                        <!-- Boton MODIFICAR -->
                        <div *ngIf="edited" data-bs-toggle="modal" data-bs-target="#modiExperi" data-whatever="{data.id}">
                            <a class="btn btn-edit btn-outline-light " href="#!" (click)="tomaDatos(data.id)" >
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>

                        <h5 class="p-1 bg-secondary text-white " >{{data.dtyear}} - {{data.dttitle}}</h5>
                        <p>{{data.dttext}}</p>
                
                        <!-- Modal MODIFICAR-->
                        <div class="modal fade" id="modiExperi" tabindex="-1" aria-labelledby="1" aria-hidden="true">
                            <div class="modal-dialog modal-xl" >
                                <div class="modal-content">
                                    <div class="modal-header"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                    <div class="modal-body ">
                                        
                                    <div class="preview">
                                        <p><em>Vista previa....</em></p>
                                        <ul class="timeline">
                                            <li>
                                                <div>
                                                    <p class="p-1 text-white">{{formDatos.value.dtyear}} - {{formDatos.value.dttitle}}</p>
                                                    <p>{{formDatos.value.dttext}}</p>
                                                    <br>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                        
                                    <hr>    
                                    <h5>Formulario.</h5>
                                    <form [formGroup]="formDatos"  >
                                        <!-- <h2 class="experi-modal-title text-secondary text-uppercase mb-0">Formulario</h2> -->
                                    <div class="row">
                                        <div class="form-group col-2">
                                            <label for="dtyear" class="col-form-label"><h6>Año:</h6></label>
                                            <input type="text" class="form-control" id="dtyear" formControlName="dtyear">
                                        </div>
                                        <div class="form-group col-10"> <!-- [value]="valTitulo" -->
                                            <label for="dttitle" class="col-form-label"><h6>Titulo:</h6></label>
                                            <input type="text" class="form-control" id="dttitle" formControlName="dttitle">
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label for="dttext" class="col-form-label"><h6>Informacion:</h6></label>
                                            <textarea rows="4" class="form-control" id="dttext" formControlName="dttext"></textarea>
                                        </div>
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="estado" >
                                            <label for="estado" >Estado -<i> Resalta la informacion </i></label>
                                        </div>
                                        
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="actualizar()">Actualizar</button>
                                        </div>
                                    </form>

                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIN MODAL MODIFICAR -->
                        
                        <!-- Modal ELIMINAR-->
                        <div class="modal fade" id="eliminaExperi" tabindex="-1" aria-labelledby="1" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                <div class="modal-body">
                                    <h5>ESTA SEGURO DE ELIMINAR ?</h5>
                                    <form [formGroup]="formDatos" (submit)="eliminarExperi()">
                                        <div class="preview-eliminar">
                                            <p><em>Vista previa....</em></p>
                                            <ul class="timeline">
                                                <li>
                                                    <div>
                                                        <p class="p-1 bg-secondary text-white">{{formDatos.value.dtyear}} - {{formDatos.value.dttitle}}</p>
                                                        <p>{{formDatos.value.dttext}}</p>
                                                        <br>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!-- FIN ELIMINAR -->

                        <!-- Modal NUEVO EXPERI-->
                        <div class="modal fade" id="nuevoExperi" tabindex="-1" aria-labelledby="1" aria-hidden="true" >
                            <div class="modal-dialog modal-xl" >
                                <div class="modal-content">
                                    <div class="modal-header"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                    <div class="modal-body ">
                                    <h5>Formulario.</h5>
                                    <form [formGroup]="formDatos" (submit)="nuevoExperi()">
                                    <div class="row">
                                        <div class="form-group col-2">
                                            <label for="dtyear" class="col-form-label"><h6>Año:</h6></label>
                                            <input type="text" class="form-control" id="dtyear" formControlName="dtyear">
                                        </div>
                                        <div class="form-group col-10"> 
                                            <label for="dttitle" class="col-form-label"><h6>Titulo:</h6></label>
                                            <input type="text" class="form-control" id="dttitle" formControlName="dttitle" >
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label for="dttext" class="col-form-label"><h6>Informacion:</h6></label>
                                            <textarea rows="4" class="form-control" id="dttext" formControlName="dttext"></textarea>
                                        </div>
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="estado" >
                                            <label for="estado" >Estado -<i> Resalta la informacion </i></label>
                                        </div>
                                        
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Crear</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIN MODAL NUEVO -->
                    </li>
                </ul>
            </div>
            <div class="bg-primary col-lg-2  portada">
                
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>


