/* TimeLine */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 120%;
  z-index: 400;
}
ul.timeline > li {
  /* margin: 20px 0; */
  padding-left: 20px;
}

bg-titulo {
  background-color:#68bfd4;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #0d6277;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
/* end TimeLine */

/* Boton Edicion */
.btn-edit {
  background-color: rgb(57, 151, 70);
  border-color: rgb(0, 0, 0);
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  float: right;
}
/* Boton Eliminar */
.btn-trash {
  background-color: rgb(218, 82, 82);
  border-color: rgb(0, 0, 0);
   display: inline-flex;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  float: right;
}

/* MODAL */
.preview {
  background-color: #f8f4dd;
}
.preview-eliminar {
  background-color: #fdccaf;
}


/* FONDO DIV */
.portada{
  background: url(../../../assets/img/img1.jpg) no-repeat center ; /* no-repeat fixed center */
  background-size: cover;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; */
  /* opacity: 0.6;   */
}