<!-- Hard & Soft Skills-->
<section class="page-section mb-0">
    <div class="container" >
        <div class="row text-center">
            <!-- About Section Heading-->
            <h2 >Grado de Conocimiento</h2><br>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-2 col-sm-6 p-3  ">
                <div class="progress blue text-white">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
                <div class="flex text-center align-top-center bg-info text-white ">HTML-CSS3</div>
            </div>
            <div class="col-lg-2 col-sm-6 p-3">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">50%</div>
                </div>
                <div class="flex text-center align-top-center bg-info text-white ">BOOTSTRAP</div>
            </div>                    
            <div class="col-lg-2 col-sm-6 p-3  ">
                <div class="progress blue text-white">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
                <div class="flex text-center align-top-center bg-info text-white ">PHP-MySQL</div>
            </div>
            <div class="col-lg-2 col-sm-6 p-3">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">50%</div>
                </div>
                <div class="flex text-center align-top-center bg-info text-white ">HTML</div>
            </div>                    
        </div>
    </div>
</section>
